@import "./styles/colors.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fira Code", "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --- KEY CHANGES --- */
  background: var(--background-light); /* Set the new light background */
  color: var(--text-dark); /* Set the default text color to dark */
  /* --- END CHANGES --- */

  position: relative;
  min-height: 100vh;
}
